.drop-appear {
    transform: scaleY(.5);
    transform-origin: top;
    opacity: 0.5;
}

.drop-appear.drop-appear-active {
    transform: scaleY(1);
    opacity: 1;
    transition: all .2s;
}

.drop-leave {
    transform: scaleY(1);
    opacity: 1;
}

.drop-leave.drop-leave-active {
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0.01;
    transition: all .2s;
}