.slide-appear {
    height: 50%;
    opacity: .1;
}

.slide-appear.slide-appear-active {
    height: 100%;
    opacity: 1;
    transition: all 2s ease-out;
}

.slide-enter {
    height: 50%;
    opacity: 0.01;
    transition: all 2s ease-out;
}

.slide-enter.slide-enter-active {
    height: 100%;
    opacity: 1;
    transition: all 2s ease-in;
}

.slide-leave {
    opacity: 1;
}

.slide-leave.slide-leave-active {
    opacity: 0.01;
    transition: all 2s ease-in;
}