.example-appear {
    transform: scaleY(.5);
    transform-origin: top;
    opacity: 0.5;
}

.example-appear.example-appear-active {
    transform: scaleY(1);
    opacity: 1;
    transition: all .2s;
}

.example-leave {
    transform: scaleY(1);
    opacity: 1;
}

.example-leave.example-leave-active {
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0.01;
    transition: all .2s;
}